.card{
    margin: 0;
    padding: 0;
    border: 2px solid white;
    width: 210px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: white;
    padding:5px;
    
}
.content{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 10px;
    padding: 3px;
    
    
}
.card span{
    display: inline;
}
img{
   
    
    width: 200px;
}